body {
    background-color: rgb(179, 179, 179);
    margin: 0;
    padding: 0;
}

.login {
    width: 350px;
    height: 200px;
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login>div {
    width: 285px;
    margin: auto;
    padding: 20px 0 0 0;
    text-align: left;
}




.user {
    height: 35px;
    width: 220px;
    border: none;
}

.user-textbox {
    padding: 20px 0 0 0;
    border-bottom: 1px solid #9DA6AB;
}

.user-pwd {
    padding: 20px 0 0 0;
    border-bottom: 1px solid #9DA6AB;
}



.Submit {
    margin: 30px 0;
}

.loginButton {
    
    border: none;
    outline: none;
    height: 35px;
    background: #0078D2;
    color: #fff;
    font-size: 18px;
    width: 100%;
}